body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.hidden {
    position:relative;
    left: -1000px;
    top: auto;
}

.hidden:focus {
    left: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

header {
    background-color: #03a3df;
}

footer {
    position: relative;
}

main {
    padding: 1em;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: #03a3df;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

h3 {
    font-weight: bold;
    font-size: 17px;
}

.header-content-container {
    max-width: 90%;
    margin: auto;
}

.header-image {
    padding: 1em;
}

.header-links {
    padding: 1em;
    margin:1em;
    float: right;
    color: white;
    font-style: italic;
    font-size: 20px;
}

.header-links a:link {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

.header-links a:visited {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

.header-links a:hover {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

.header-links a:active {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

.footer-content {
    color: white;
    position: absolute;
    bottom: 0px;
    padding: 1em;
}

.footer-image {
    padding: 1em;
}

.social-links {
    color: white;
    font-size: 24px;
    padding-bottom: 1rem;
}

.footer-links {
    color: white;
    font-style: italic;
    font-size: 20px;
}

footer a:link {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

footer a:visited {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

footer a:hover {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

footer a:active {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

footer p {
    padding: 1em;
}

.callout {
    color: #03a3df;
    font-size: 30px;
}

.speaker {
    color: #03a3df;
    font-weight: bold;
    font-size: 14px;
}

.about-page {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.about-description {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #03a3df;
}

.about-video {
    grid-column: 2/3;
    padding: 1em;
}

.instructor-card {
    width: 250px;
    padding: 1em;
    color: #03a3df;
}

.instructor-card img {
    margin: auto;

}

.instructor-quote {
    font-weight: normal;
    font-size: 30px;
}

.instructor-name {
    font-weight: bold;
    font-size: 14px;
}

.instructor-card-top-block {
    background-color: #03a3df;
    height: 1em;
    margin-bottom: 1em;
}

.instructor-card-divider {
    background-color: #03a3df;
    height:1px;
}

.class-card {
    padding: 10px;
    background-color: #1b447f;
}

.class-card h2 {
    color: white;
}

.class-card h3 {
    color: #ecb722;
}

.class-card p {
    color: white;
    margin: 1em;
}

.class-card-divider {
    background-color: #ecb722;
    height:1px;
}

.class-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.private-class-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 15% auto;
    column-gap: 1em;
}

.private-class-card-cost {
    grid-row: 1/2;
}

.private-class-card-cost {
    grid-row: 2/3;
}

.instructor-list {
    display: flex;
    justify-content: flex-start;
}

#footer-image {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
}

