body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

header {
    background-color: #03a3df;
    
}

h1 {

    font-weight: bold;
    font-size: 40px;
}

h2 {

    font-weight: bold;
    font-size: 24px;
}

h3 {
    font-weight: bold;
    font-size: 17px;
}

.header-content-container {
    max-width: 90%;
    margin: auto;
}

.header-image {
    padding: 1em;
}

.header-links {
    padding: 1em;
    float: right;
    color: white;
    font-style: italic;
    font-size: 12px;
}

.header-links a:link {
    text-decoration: none;
    color: white;

}

.header-links a:visited {
    text-decoration: none;
    color: white;

}

.header-links a:hover {
    text-decoration: none;
    color: white;

}

.header-links a:active {
    text-decoration: none;
    color: white;

}

.callout {
    color: #03a3df;
    font-size: 30px;
}

.speaker {
    color: #03a3df;
    font-weight: bold;
    font-size: 14px;
}

.instructor-card {
    width: 200px;
    padding: 1em;
}

.instructor-card-top-block {
    background-color: #03a3df;
    height: 1em;
    padding: none;
}

.instructor-card-divider {
    background-color: #03a3df;
    height:1px;
}

.class-card {
    padding: 10px;
    background-color: #1b447f
}

.class-card p {
    color: white;
    margin: 1em;
}

.class-list {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 10px;
    grid-template-rows: 33% 34% 33%;
}

.instructor-list {
    display: flex;
    justify-content: flex-start;
}

.footer-content {
    color: white;
    position: absolute;
    top: 1200px;
}

#footer-image {
    max-width: 100%;
    height: auto;
    width: auto;
}

